<table>
  <thead>
    <tr>
      <th>title</th>
      <th>rating</th>
      <th>total_gross</th>
      <th>Description</th>
      <th>Relesed On</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie|%>
      <tr>
        <td><%= movie.title%></td>
        <td><%= movie.rating%></td>
        <td><%= number_to_currency(movie.total_gross)%></td>
        <td><%= movie.description%></td>
        <td><%= movie.released_on%></td>
      </tr>

    <% end %>
  </tbody>
</table>






